[user]
	email = taka.naoga@moneyforward.co.jp
	name = nogtk
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
	st = status
	checkout = co
	commit = cm
	branch = br
	co = checkout
	br = branch
	gr = grep
	df = diff
	sv = !git reset --soft HEAD~ && git now -A
        openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
        blamepr = "!f() { git blame $1 |peco| cut -f 1 -d ' ' | xargs -I@ git openpr @; };f"
	showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	sw = switch
	rs = restore
[ghq]
	root = /Users/taka.naoga/Development
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
