inoremap jj <Esc>
nnoremap j gj
nnoremap k gk
set clipboard=unnamed

set multiple-cursors
map <C-N>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>
map g<C-N> g<A-N>
set ideajoin
set laststatus=2

nnoremap x "_x
vnoremap x "_x

nnoremap dd "_dd
vnoremap dd "_dd

nnoremap d "_d
xnoremap d "_d
xnoremap p "_dP

